// Units styling
.unit {
  header.navbar {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #40F76C;
    border-radius: 0;

    h1 {
      font-size: 32px;
      font-weight: 900;
      text-shadow: 3px 0 3px rgba(0,0,0,.1),2px 0 2px rgba(0,0,0,.1),1px 0 1px rgba(0,0,0,.1);
    }
  }
  .content {
    margin-bottom: 120px;
    p {
      font-size: 18px;
    }
  }
}
