// Units styling
.unit {
  header.navbar {
    padding-top: 40px;
    padding-bottom: 20px;
    // background-color: #40F76C;
    background-color: #bf3e11;
    border-radius: 0;

    h1 {
      font-size: 32px;
      font-weight: 600;
    }
  }
  .content {
    margin-bottom: 120px;
    p {
      font-size: 18px;
    }
  }
}
